= simple_form_for @target do |f|
  = f.input :first_name, label: 'First Name', error: 'The name is mandatory please.'
  = f.input :last_name, label: 'Last Name', error: 'The name is mandatory please.'
  = f.input :business, label: 'Business', error: 'The business is mandatory please.'
  = f.button :submit
